{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css' | stylesheet_tag }}

<div class="grid__item medium-up--one-half cart-note delivery-note">
  <p>
    <label for="datePicker" class="cart-note__label small--text-center">DELIVERY OR PICKUP OPTIONS:</label>
    <br>
    <input type="radio" name="attributes[location]" value="home"> Deliver my order on date chosen here:<br>
    <input id="deliveryDatePicker" required type="text" name="attributes[delivery-date]" value="" /><br>
    <input type="radio" name="attributes[location]" value="mason">
      I will pick up my order at<br>
Mason’s Cellar [23 Park Ave, Rutherford]<br>
between 4:30-9:30pm on:<br>
    <input id="pickupDatePicker" required type="text" name="attributes[pickup-date]" value="" />
  </p>
</div>

<script>
(function() {
	// Only allow Tue/Thur/Sat delivery, and disable holidays here.
	var beforeShowDay = function(day) {
		var ymd = day.getFullYear() + '-' + (day.getMonth() + 1) + '-' + day.getDate();
		if ($.inArray(ymd, ['2016-12-24']) >= 0) {
			return [false, ''];
		}
		if ($.inArray(day.getDay(), [2, 4, 6]) >= 0) {
			return [true, ''];
		}
		return [false, ''];
	};

	// Install date picker.
	$('#deliveryDatePicker').datepicker({
		minDate: +2,
		maxDate: '+2M',
		beforeShowDay: beforeShowDay
	});
	
	$('#pickupDatePicker').datepicker({
		minDate: +2,
		maxDate: '+2M'
	});

	// Ensure delivery date is provided.
	$(function() {
		$('input[name="checkout"], input[name="goto_pp"], input[name="goto_gc"]').click(function() {
			var selectedType = $('input[name="attributes[location]"]:checked').val();
			
			if (!selectedType){
				alert('Please pick a delivery location and time.');
				return false;
			}
			
			var dateElt = $('#deliveryDatePicker');
			if (selectedType === 'mason') {
			  dateElt = $('#pickupDatePicker');
			}
			
			if (!dateElt.val()) {
				alert('Please choose a delivery date.');
                return false;
			} else {
				$(this).submit();
			}
		});
	});
})();
</script>
