{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css' | stylesheet_tag }}

<div class="grid__item medium-up--one-half cart-note delivery-note">
  <p>
    Select an available delivery date:<br>
    <input id="deliveryDatePicker" type="text" name="attributes[delivery-date]" readonly="readonly" value="" /><br>
    My address is:<br>
    <input type="text" id="deliveryAddress" rows="2" cols="50" name="attributes[delivery-address]"
           style="width: 250px" placeholder="123 Home St, Rutherford"></input><br><br>
<strong>The pick-up option at Mason's Cellar is currently unavailable while they transition to their new location at 32 Ames Avenue, Rutherford.</strong>
  </p>
</div>

<script>
(function() {
	// Only allow Tue/Thur/Sat delivery, and disable holidays here.
    // Use single digit values like '2017-5-29'.
	var beforeShowDayDelivery = function(day) {
        var ymd = day.getFullYear() + '-' + (day.getMonth() + 1) + '-' + day.getDate();
		// Days to make sure there's no delivery.
        if ($.inArray(ymd, ['2017-12-25']) >= 0) {
			return [false, ''];
		}
        // Special days to allow delivery.
        if ($.inArray(ymd, ['2018-3-31']) >= 0) {
			return [true, ''];
		}
        // Weekdays for delivery.
		if ($.inArray(day.getDay(), [2, 4]) >= 0) {
			return [true, ''];
		}
		return [false, ''];
	};
  

	// Install date picker.
	$('#deliveryDatePicker').datepicker({
		minDate: +2,
		maxDate: '+2M',
		beforeShowDay: beforeShowDayDelivery
	});
	
	// Ensure delivery date is provided.
	$(function() {
		$('input[name="checkout"], input[name="goto_pp"], input[name="goto_gc"]').click(function() {
          var selectedType = 'home';

          if (!selectedType){
            alert('Please pick a delivery location and time.');
            return false;
          }

          var dateElt = $('#deliveryDatePicker');

          if (!dateElt.val()) {
            alert('Please choose a delivery date.');
            return false;
          }
          
          if (selectedType === 'home') {
            if (!$('#deliveryAddress').val()) {
              alert('Please provide your address for delivery.');
              return false;
            }
          }
          
          if (selectedType === 'home') {
          } else {
            $('#deliveryDatePicker').val('');
            $('#deliveryAddress').val('');
          }
		});
	});
})();
</script>
