{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}

<style>
.rpm-selectable-item, .rpm-selected-item {
	cursor: pointer;
}
</style>


<div class="rpm-selector">
  <div>
    <span style="font-weight: bold">Stress less. Cook more.<br>
      Select 5 different items by clicking below:</span>
    <div id="rpm-selector-selectable"></div>
  </div>
  <div style="margin-top: 30px;">
    <span style="font-weight: bold">Selected:</span>
    <div id="rpm-selector-selected"></div>
  </div>
</div>
<input type="hidden" name="properties[Selected]" id="rpm-selected-input"></input>

<script>
  (function() {
    var possibleItems = [
      '4 Flat Iron Steaks',
      '4 Beef Burgers',
      '2.5 lbs Thin Sliced Antibiotic-Free Chicken',
      '2.5 lbs Antibiotic-Free Ground Turkey',
      '4 Boneless Pork Chops',
      '2 lbs Beef Cubes (for stews/kebobs)',
      '3.5 lb 8-Way Cut Up Chicken',
      '2 lbs Pork Shoulder',
      '2 lbs Pork Tenderloin',
      '2 lbs Meatball/Meatloaf Blend'
    ];
    
    var resetSelectedItemText = function() {
      var selectedItemsElt = $('#rpm-selector-selected');
      var selectedText = [];
      $.map(selectedItemsElt.children(), function(elt) {
        selectedText.push($(elt).data('item'));
      });
      $('#rpm-selected-input').val(selectedText.join(', '));
	};

    var isItemSelected = function(i) {
      var selectedItems = $('#rpm-selected-input').val().split(', ');
      return selectedItems.indexOf(i) >= 0;
    };
    
    var addToSelectedItems = function(i) {
      var selectedItemsElt = $('#rpm-selector-selected');
      if (selectedItemsElt.children().length >= 5) {
        return;
      }
      
      if (isItemSelected(i)) {
        alert("Oops! Looks like you've already selected this item");
        return;
      }

      var selectedItem = $('<div class="rpm-selected-item">X ' + i + '</div>');
      selectedItem.data('item', i);
      selectedItem.click(function(e) {
        $(e.target).remove();
        resetSelectedItemText();
      });
      selectedItemsElt.append(selectedItem);

      resetSelectedItemText();
	};

    $.map(possibleItems, function(i) {
      var selectableItem = $('<div class="rpm-selectable-item">' + i + '</div>');
      selectableItem.click(i, function(e) {
        addToSelectedItems(e.data);
      });
      $('#rpm-selector-selectable').append(selectableItem);
  	});
	
    $('button[name="add"]').click(function() {
      var selectedItemsElt = $('#rpm-selector-selected');
      if (selectedItemsElt.children().length < 5) {
        alert('Please select five items.');
        return false;
      }
    });
  })();
</script>
