{{ '//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' | script_tag }}

<style>
.rpm-selector > div {
	cursor: pointer;
}
</style>


<div class="rpm-selector">
  <div>
    <span style="font-weight: bold">
      *** Please note due to the cost, the price for this package will increase if you select premium items below.
    </span>
  </div>
  <div>
    <span style="font-weight: bold">Stress less. Cook more.<br>
      Select 5 different items by clicking below:</span>
    <div id="rpm-selector-selectable" class="rpm-selector"></div>
  </div>
  <div style="margin-top: 30px;">
    <span style="font-weight: bold">Selected:</span>
    <div id="rpm-selector-selected" class="rpm-selector"></div>
  </div>
</div>
<input type="hidden" name="properties[Selected]" id="rpm-selected-input"></input>
<input type="hidden" name="id" id="rpm-product-select-id"></input>

<script>
(function() {
  var possibleItems = [
    '4 Beef Burgers',
    '2 lbs Thin Sliced Antibiotic-Free Chicken',
    '2 lbs of Bell & Evans Chicken Legs and Thighs',
    '2 lbs of Stir Fry Chicken Strips',
    '2 lbs Antibiotic-Free Ground Turkey',
    '4 Boneless Pork Chops',
    '2 lbs Beef Cubes (for stews/kebobs)',
    '3.5 lb 8-Way Cut Up Chicken',
    '2 lbs Pork Shoulder',
    '2 lbs Meatball/Meatloaf Blend',
    '1 lbs Boneless Short Ribs (great for soups and stews)',
    '2 lbs Boneless Chicken Thighs',
    '2 lbs Whole Chicken Breast',
    '4 Antibiotic-Free Turkey Burgers',
    '4 Salmon Steaks 4 oz each (premium)'
  ];
  var productObj = {{product|json}};


  var resetSelectedItemText = function() {
    var selectedItemsElt = $('#rpm-selector-selected');
    var selectedText = [];
    $.map(selectedItemsElt.children(), function(elt) {
      selectedText.push($(elt).data('item'));
    });
    $('#rpm-selected-input').val(selectedText.join(', '));
    
    var variant = '' + (selectedText.join(', ').match(/premium/g) || []).length;
    if (variant == "2") {
      $("#ProductPrice-1rpm-product-selector-template").text("$79.00");
    } else if (variant == "1") {
      $("#ProductPrice-1rpm-product-selector-template").text("$67.00");
    } else {
      $("#ProductPrice-1rpm-product-selector-template").text("$55.00");
    }
    for (var i=0; i < productObj.variants.length; i++) {
      if (productObj.variants[i].title == variant) {
        $("#rpm-product-select-id").val(productObj.variants[i].id);
      }
    }
  };

  var isItemSelected = function(i) {
    var selectedItems = $('#rpm-selected-input').val().split(', ');
    return selectedItems.indexOf(i) >= 0;
  };

  var addToSelectedItems = function(i) {
    var selectedItemsElt = $('#rpm-selector-selected');
    if (selectedItemsElt.children().length >= 5) {
      return;
    }

    if (isItemSelected(i)) {
      alert("Oops! Looks like you've already selected this item");
      return;
    }

    var selectedItem = $('<div>X ' + i + '</div>');
    selectedItem.data('item', i);
    selectedItem.click(function(e) {
      $(e.target).remove();
      resetSelectedItemText();
    });
    selectedItemsElt.append(selectedItem);

    resetSelectedItemText();
  };

  $.map(possibleItems, function(i) {
    var selectableItem = $('<div>' + i + '</div>');
    selectableItem.click(i, function(e) {
      addToSelectedItems(e.data);
    });
    $('#rpm-selector-selectable').append(selectableItem);
  });

  $('button[name="add"]').click(function() {
    var selectedItemsElt = $('#rpm-selector-selected');
    if (selectedItemsElt.children().length < 5) {
      alert('Please select five items.');
      return false;
    }
  });
})();
</script>
