name: Throttle Orders

on:
  workflow_dispatch:
  schedule:
    - cron: '42 * * * *'

concurrency:
  group: throttle-orders
  cancel-in-progress: true

jobs:
  throttle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3
      
      - name: Setup go environment
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Throttle Delivery
        env:
          TZ: America/New_York
          RPM_DT_APISECRET: ${{ secrets.RPM_DT_APISECRET }}
          RPM_DT_GCPKEYJSON: ${{ secrets.RPM_DT_GCPKEYJSON }}
          RPM_DT_HEALTHCHECKURL: ${{ secrets.RPM_DT_HEALTHCHECKURL }}
          RPM_DT_BASEURL: "https://rutherford-prime-meats.myshopify.com/admin/api/2023-10"
          # No leading zeros
          RPM_DT_BLOCKEDDAYS: "2025-11-27,2025-11-28,2025-11-29,2025-11-30,2025-12-1,2025-12-2"
          RPM_DT_MAXORDERS: "20"
          RPM_DT_WARNORDERS: "15"
          RPM_DT_SLEEPTIME: "10m"
          RPM_DT_EXITAFTER: "6h"
          RPM_DT_HEARTBEAT: "9s420ms"
        run: |
          go version
          cd delivery-throttle
          go build .
          ./delivery-throttle || ./delivery-throttle || ./delivery-throttle || ./delivery-throttle
